<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.the9teenthgreen">

    <application
        android:allowBackup="true"
        android:label="The9teenthGreen"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.The9teenthGreen">

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Clubs activity -->
        <activity
            android:name=".ClubsActivity"
            android:exported="true"/>

        <!-- Golf Balls activity -->
        <activity
            android:name=".GolfBallsActivity"
            android:exported="true"/>

    </application>
</manifest>